.topBar {
  background-color: #242428;
}

.single-anime-background-bw {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  filter: grayscale(1);
  z-index: -1;
}

.single-anime-background-bw div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(20px);
  opacity: 0.35;
  transform: scale(1.2);
  background-image: url("../../assets/bleackSmall.jpg");
}

.single-anime-grid {
  display: grid;
  grid-template-columns: 8fr 2fr;
  column-gap: 4rem;
  margin-bottom: 10rem;
}

.second-single-anime-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2rem;
  padding: 5rem 0rem 5rem 10rem;
}

.singleAnimeTitle {
  font-size: 4rem;
}
.singleAnimeWholeDetail {
  font-size: 1.4rem;
}

.aboutSingleAnime {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.aboutSingleAnime img {
  width: 100%;
}
